<body>
    <div id="homeWrap">
        <!-- 博客名&小太阳 -->
        <div id="sunTittle">
            <h1>yui's</h1>
            <div class="ribbon-3">
                <span>丝带</span>
            </div>
            <div>
                <div id="sky">
                    <div id="sun"></div>
                    <div id="tree1" class="tree"></div>
                    <div id="tree2" class="tree"></div>
                    <div id="tree3" class="tree"></div>
                </div>
                <div id="moon"></div>
            </div>
            <h1>Blog</h1>
        </div>
        
        <!-- 扑克轮播图 -->
        <div id="pokerContainer" class="no-select">
            <div class="poker poker1">
                <img src="../style/img/book/1.罗生门.png">
            </div>
            <div class="poker poker2">
                <img src="../style/img/book/2.金阁寺.jpg">
            </div>
            <div class="poker poker3">
                <img src="../style/img/book/3.潮骚.jpg">
            </div>
            <div class="poker poker4">
                <img src="../style/img/book/4.我曾悲伤地爱过这个世界.png">
            </div>
            <div class="poker poker5">
                <img src="../style/img/book/5.少年维特的烦恼.png">
            </div>
            <div class="poker_top poker5">
                <p>Click</p>
            </div>
        </div>
        
        <!-- 底边终点 -->
        <div class="homeBottom">
            <div></div>
        </div>
    </div>
</body>
<script>
    const sky = document.getElementById('sky');
    const sun = sky.children[0];
    const moon = document.getElementById('moon');


    // 扑克牌轮播图
    const poker = {
        imgs: [],
        img_index: 0,
        poker_eles: {},
        transform_datas: [
            "rotate(-10deg)",
            "rotate(-6deg) translate(35%, -12%)",
            "rotate(-2deg) translate(65%, -19%)",
            "rotate(2deg) translate(95%, -26%)",
            "rotate(6deg) translate(125%, -23%)",
        ],
        init() {
            for (let i = 0; i < 9; i++) {
                let img = new Image();
                img.src = `./photos/photo (${i}).webp`;
                this.imgs.push(img);
            }
            this.poker_eles = [...document.getElementsByClassName("poker")];
            this.poker_eles.forEach((obj, index) => {
                obj.nums = index;
            });

            this.img_index = this.poker_eles.length;
        },
        move() {
            this.poker_eles.map((ele) => {
                let nums = ele.nums;
                if (nums + 1 >= this.poker_eles.length) {
                    nums = 0;
                    ele.style.transition = "";
                    ele.querySelector("img").src =
                        this.imgs[this.img_index].src;
                    this.img_index++;
                    if (this.img_index >= this.imgs.length)
                        this.img_index = 0;
                } else {
                    nums += 1;
                    ele.style.transition = "transform 0.3s ease";
                }
                ele.style.zIndex = nums;
                ele.style.transform = this.transform_datas[nums];
                ele.nums = nums;
            });
        },
    };
    poker.init();
    document.querySelector('.poker_top').addEventListener('click', () => {
        poker.move();
    });


    sky.addEventListener('mouseover', () => {
        let now = new Date();
        let hour = now.getHours();
        // 依据当前时间控制部分样式
        if (7 < hour && hour < 19) {
            hour = Math.abs(13 - hour);
            sun.style.transform = `translate(-${45 + hour}px, ${50 + hour * 10}px)`;
            sky.style.filter = `brightness(${109 - hour}%)`;
        } else {
            sky.style.filter = `brightness(15%)`;
            moon.style.opacity = 1;
        }

    })
    sky.addEventListener('mouseleave', () => {
        sun.style.transform = 'translate(-45px, 290px)';
        sky.style.filter = '';
        moon.style.opacity = 0;
    })
</script>