<body>
    <div id="photoWarp">
        <div id="graph">
            <img src="../style/img/photo/1723884019317.jpg">
            <img src="../style/img/photo/1723884098687.jpg">
            <img src="../style/img/photo/1723884116501.jpg">
            <img src="../style/img/photo/1723884161526.jpg">
            <img src="../style/img/photo/1723884344369.jpg">
            <img src="../style/img/photo/1723884431261.jpg">
            <img src="../style/img/photo/1723884516722.jpg">
            <img src="../style/img/photo/1723884584346.jpg">
            <img src="../style/img/photo/1723884622574.jpg">
            <img src="../style/img/photo/1723884635224.jpg">
            <img src="../style/img/photo/1723884704161.jpg">
            <img src="../style/img/photo/1723884867261.jpg">
            <img src="../style/img/photo/1723885087905.jpg">
            <img src="../style/img/photo/1723885166093.jpg">
            <img src="../style/img/photo/1723885387933.jpg">
            <img src="../style/img/photo/1723885678315.jpg">
            <img src="../style/img/photo/1723885968787.jpg">
            <img src="../style/img/photo/1723886087228.jpg">
            <img src="../style/img/photo/1723886246446.jpg">
            <img src="../style/img/photo/1723886523193.jpg">
            <img src="../style/img/photo/1723886798283.jpg">
            <img src="../style/img/photo/1723887025691.jpg">
            <img src="../style/img/photo/1723887128092.jpg">

            <img src="../style/img/photo/IMG_067.jpg">
            <img src="../style/img/photo/IMG_071.jpg">
            <img src="../style/img/photo/IMG_072.jpg">
            <img src="../style/img/photo/IMG_084.jpg">
            <img src="../style/img/photo/IMG_104.jpg">
            <img src="../style/img/photo/IMG_106.jpg">
            <img src="../style/img/photo/IMG_108.jpg">
            <img src="../style/img/photo/IMG_121.jpg">
            <img src="../style/img/photo/IMG_124.jpg">
            <img src="../style/img/photo/IMG_142.jpg">
            <img src="../style/img/photo/IMG_173.jpg">
            <img src="../style/img/photo/IMG_182.jpg">
            <img src="../style/img/photo/IMG_186.jpg">
            <img src="../style/img/photo/IMG_214.jpg">
            <img src="../style/img/photo/IMG_217.jpg">
            <img src="../style/img/photo/IMG_218.jpg">
            <img src="../style/img/photo/IMG_221.jpg">
            <img src="../style/img/photo/IMG_227.jpg">
            <img src="../style/img/photo/IMG_266.jpg">
            <img src="../style/img/photo/IMG_269.jpg">
            <img src="../style/img/photo/IMG_277.jpg">
            <img src="../style/img/photo/IMG_281.jpg">
            <img src="../style/img/photo/IMG_299.jpg">
            <img src="../style/img/photo/IMG_301.jpg">
            <img src="../style/img/photo/IMG_308.jpg">
            <img src="../style/img/photo/IMG_314.jpg">
            <img src="../style/img/photo/IMG_320.jpg">
            <img src="../style/img/photo/IMG_322.jpg">
            <img src="../style/img/photo/IMG_324.jpg">
            <img src="../style/img/photo/IMG_362.jpg">
            <img src="../style/img/photo/IMG_402.jpg">
            <img src="../style/img/photo/IMG_460.jpg">
            <img src="../style/img/photo/IMG_474.jpg">
            <img src="../style/img/photo/IMG_494.jpg">
            <img src="../style/img/photo/IMG_519.jpg">
            <img src="../style/img/photo/IMG_555.jpg">
            <img src="../style/img/photo/IMG_566.jpg">
            <img src="../style/img/photo/IMG_569.jpg">
            <img src="../style/img/photo/IMG_620.jpg">
            <img src="../style/img/photo/IMG_677.jpg">
            <img src="../style/img/photo/IMG_730.jpg">
            <img src="../style/img/photo/IMG_741.jpg">
            <img src="../style/img/photo/IMG_763.jpg">
        </div>
        <div id="paint">
            <img src="../style/img/paint/布袋戏_1.jpg">
            <img src="../style/img/paint/布袋戏_11.jpg">
            <img src="../style/img/paint/布袋戏_15.jpg">
            <img src="../style/img/paint/布袋戏_逍遥最终.png">
            <img src="../style/img/paint/鱼_10.jpg">
            <img src="../style/img/paint/鱼_11.jpg">
            <img src="../style/img/paint/鱼_12.jpg">
            <img src="../style/img/paint/鱼_13.jpg">
            <img src="../style/img/paint/鱼_14_1.png">
            <img src="../style/img/paint/鱼_15.jpg">
            <img src="../style/img/paint/鱼_16.jpg">
            <img src="../style/img/paint/鱼_18.jpg">
            <img src="../style/img/paint/鱼_2.png">
            <img src="../style/img/paint/鱼_5.jpg">
            <img src="../style/img/paint/鱼_7.png">
            <img src="../style/img/paint/网王2.jpg">
            <img src="../style/img/paint/aph_1.jpg">
            <img src="../style/img/paint/aph_11.jpg">
            <img src="../style/img/paint/aph_2.jpg">
            <img src="../style/img/paint/aph_3.jpg">
            <img src="../style/img/paint/aph_4.jpg">
            <img src="../style/img/paint/aph_5.jpg">
            <img src="../style/img/paint/aph_6.jpg">
            <img src="../style/img/paint/IMG_20191205_220252.jpg">
            <img src="../style/img/paint/IMG_20191217_205735.jpg">
            <img src="../style/img/paint/来打_3.png">
        </div>
    </div>
</body>
<script>
    /*
    const imgArr = document.getElementsByTagName('img');
    let imgHeights = []; // 保存所有图片的高度 
    const imgWidth = imgArr[0].width; // 宽度是固定的，但可能在CSS中修改，因此这里重新获取一遍
    const length = imgArr.length;
    const gap = 20; // 图片间隙
    for (let i = 0; i < length; i++) {
        imgHeights.push(imgArr[i].height);
    }
    function beWaterFall() {
        let clientWidth = document.body.clientWidth; // 当前屏幕宽度
        let column = Math.floor(clientWidth / (imgWidth + gap)); // 图片列数
        let row = length / column; // 图片行数
        let padding = (clientWidth - ((imgWidth + gap) * column - gap)) / 2; // 计算多余的空白，在图片流两侧均分
        let firstHeight = [];
        for (let i = 0; i < length; i++) {
            console.log(imgArr[0].height);
            if (i < column) { // 定位第一行
                imgArr[i].style.top = 0;
                if (i === 0) { // 第一张图片不在左侧加gap
                    imgArr[i].style.left = padding + (imgWidth) * i + 'px';
                } else {
                    imgArr[i].style.left = padding + (imgWidth + gap) * i + 'px';
                }
                firstHeight.push(imgArr[i].offsetHeight);
            } else { // 定位后面的图片
                let minHeight = imgArr[0]; // 判断最小高度
            }
        }
        console.log(firstHeight);
    }
    */
</script>