<body>
    <div id="readWarp">
        <ol id="bookList">
            <li>
                <img src="../style/img/book/1.罗生门.png">
                <h2>罗生门</h2>
                <div class="author">
                    <h4>芥川龙之介</h4>
                    <h6>译：楼适夷 高培明</h6>
                </div>
                <p>
                    包含短篇罗生门、地狱变、奉教人之死、老年的素盏鸣尊、秋山图、莽丛中、报恩记、阿富的贞操、六宫公主、戏作三昧、山鹬、河童、蜘蛛丝、鼻子、单相思、南京的基督、阿耆尼神、怪异岛。
                </p>
            </li>
            <li>
                <img src="../style/img/book/2.金阁寺.jpg">
                <h2>金阁寺</h2>
                <div class="author">
                    <h4>三岛由纪夫</h4>
                    <h6>译：唐月梅</h6>
                </div>
                <p>
                    烧毁我的火，也定会烧毁金阁。这种想法几乎陶醉了我。在遭受相同灾难、相同不吉利的火的命运中，金阁和我所居住的世界一元化了。尽管金阁坚固，却与我的脆弱而丑陋的肉体一样，拥有易燃的碳素的肉体。这么一想，我似乎可以把金阁藏在我的肉体里，藏在我的组织里，然后潜逃，就像潜逃的盗贼把昂贵的宝石咽下，然后隐匿起来似的。
                </p>
            </li>
            <li>
                <img src="../style/img/book/3.潮骚.jpg">
                <h2>潮骚</h2>
                <div class="author">
                    <h4>三岛由纪夫</h4>
                    <h6>译：唐月梅</h6>
                </div>
                <p>
                    年轻人感觉到了包围着他的这丰饶的大自然与他自身之间的一种无上的和谐。他觉得他深深吸入的气息，是产生大自然的肉眼看不见的东西的一部分渗透到年轻人的体内深处了；他所听见的潮声，是海的巨大的潮流，与他体内朝气蓬勃的热血的潮流配合起来了。新治平日的生活里并不特别需要音乐，这无疑是因为大自然本身满足了他对于音乐的需要。
                </p>
            </li>
            <li>
                <img src="../style/img/book/4.我曾悲伤地爱过这个世界.png">
                <h2>我曾悲伤地爱过这个世界</h2>
                <div class="author">
                    <h4>纪伯伦</h4>
                    <h6>译：冰心</h6>
                </div>
                <p>
                    当你解答了生命的一切奥秘，你就渴望死亡，因为它不过是生命的另一个奥秘。
                    When you have solved all the mysteries of life you long for death, for it is but another mystery of
                    life.

                </p>
            </li>
            <li>
                <img src="../style/img/book/5.少年维特的烦恼.png">
                <h2>少年维特的烦恼</h2>
                <div class="author">
                    <h4>歌德</h4>
                    <h6>译：韩耀成</h6>
                </div>
                <p>
                    “平时人们只要看到一些人做出意想不到的事情，就断定他们是疯子，在背后指指点点地说：‘看，这人是个神经病，疯了！’其实说别人疯癫的人才是真正的疯子，可笑的是这些人还觉得自己是正确的，自己是无所不能的！”
                </p>
            </li>
            <li>
                <img src="../style/img/book/6.月亮与六便士.png">
                <h2>月亮与六便士</h2>
                <div class="author">
                    <h4>毛姆</h4>
                    <h6>译：刘勇军</h6>
                </div>
                <p>
                    我们设法把我们心里的珍宝转送给别人，求他们慈悲为怀，但是他们却没有能力接受它们，于是我们只好孤独地前行，肩并肩走而不能一起走，无法了解我们的同胞，同胞也无法了解我们。我们好比那些生活在另一个国家的人，他们对自己的语言掌握得少而又少，可言的美丽而深刻的东西的所有风格都具备，却只能用会话手册的陈词滥调进行交流。他们脑子里的观念塞得满满的，可他们只能告诉你园丁姨妈的雨伞在屋子里。
                </p>
            </li>
            <li>
                <img src="../style/img/book/7.呼兰河传.jpg">
                <h2>呼兰河传</h2>
                <div class="author">
                    <h4>萧红</h4>
                    <h6></h6>
                </div>
                <p>
                    春夏秋冬，一年四季来回循环地走，那是自古也就这样的了。风霜雨雪，受得住的就过去了，受不住的，就寻求着自然的结果，那自然的结果不大好，把一个人默默地一声不响地就拉着离开了这人间的世界了。至于那还没有被拉去的，就风霜雨雪，仍旧在人间被吹打着。
                </p>
            </li>
            <li>
                <img src="../style/img/book/8.生死场.jpg">
                <h2>生死场</h2>
                <div class="author">
                    <h4>萧红</h4>
                    <h6></h6>
                </div>
                <p>
                    母亲一向是这样，很爱护女儿。可是当女儿败坏了菜棵，母亲便去爱护菜棵了。农家无论是菜棵或是一根茅草也要超过人的价值。
                </p>
            </li>
            <li>
                <img src="../style/img/book/9.1984.jpg">
                <h2>1984</h2>
                <div class="author">
                    <h4>乔治·奥威尔</h4>
                    <h6>译：傅霞</h6>
                </div>
                <p>
                    有史以来，大概自从新石器时代结束以来，世界上就有三种人：上等人、中等人、下等人。这三种人的目标是完全不可调和的。上等人的目标是要保持他们的地位。中等人的目标是要同高等人交换地位。下等人的特点始终是，他们劳苦之余无暇旁顾，偶尔才顾到日常生活以外的事情，因此如果他们有目标的话，无非是取消一切差别，建立一个人人平等的社会。
                </p>
                <p>
                    “We shall meet in the place where there is no darkness.”
                </p>
            </li>
            <li>
                <img src="../style/img/book/10.假面自白.jpg">
                <h2>假面自白</h2>
                <div class="author">
                    <h4>三岛由纪夫</h4>
                    <h6>译：唐月梅</h6>
                </div>
                <p>
                    夏天的到来，比春天更加威胁我的孤独。仲夏鞭策着我的肉欲的奔马，燃尽我的肉体，折磨我的肉体。
                </p>
            </li>
            <li>
                <img src="../style/img/book/11.爱的饥渴.jpg">
                <h2>爱的饥渴</h2>
                <div class="author">
                    <h4>三岛由纪夫</h4>
                    <h6>译：唐月梅</h6>
                </div>
                <p>
                    她觉得这狂飞乱舞着的生命力的无益的浪费，似乎如光辉的闪烁，她的意识就置于这危险的混沌之上，简直像置于砂锅上的冰块融化了。悦子觉得自己的脸，偶尔被焚火或篝火的火焰无情的照亮了。这使她突然想起为了将丈夫的灵柩抬出去而开了门，从这敞开的门投射进来了十一月的阳光，猛烈的像山崩一样。
                </p>
            </li>
            <li>
                <img src="../style/img/book/12.午后曳航.jpg">
                <h2>午后曳航</h2>
                <div class="author">
                    <h4>三岛由纪夫</h4>
                    <h6>译：许金龙</h6>
                </div>
                <p>
                    如果说，世界原本就是为这种洋溢着如此辉煌的死亡而准备的，那么，与此同时，世界即使为之毁灭也没有什么不可思议。
                </p>
            </li>
        </ol>
    </div>
</body>
<script>
    let h4Arr = document.getElementsByTagName('h4');
    let h6Arr = document.getElementsByTagName('h6');
    let h4WarpArr = document.getElementsByClassName('author');
    // 作者名较短会导致作者&译者与简介之间空隙较大，故不写死height而通过JS调整
    // 注意html中无论有无译者都要保证h4和h6标签的存在
    for (let i = 0; i < h4Arr.length; i++) {
        let h4Height = h4Arr[i].offsetHeight;
        let h6Height = h6Arr[i].offsetHeight;
        let height = (h4Height > h6Height) ? h4Height : h6Height;
        h4WarpArr[i].style.height = `${height + 20}px`;
    }
</script>